<h1><%=@brand.brand%></h1>
<h3>$<%=sprintf('%.2f', @brand.price)%></h3>
<% if @brand_stores.any? %>
  <p>Available at:</p>
  <ul>
    <% @brand_stores.each do |store| %>
      <li><%=store.store%></li>
    <%end%>
    </ul>
<% else %>
  <p> Coming soon to a "lesser-known" shoe store near you! </p>
<% end %>

<form action = "/brand/<%=@brand.id%>" method = "post">
  <label for="store_id">Add a store:</label>
  <select name = "store_id">
    <% @stores.each do |store| %>
    <option value = "<%=store.id%>"><%=store.store%></option>
    <%end%>
  </select>

  <button type = "submit">Add store for <%=@brand.brand%></button>
</form>
