<h1><%=@store.store%></h1>

<form action = "/store/<%=@store.id%>" method = "post">
  <div class = "input-group">

    <label for="store">Update store name: </label>
    <input type = "text" name = "store" class = "form-control">
    <button type = "submit" class = "btn btn-success">Update <%=@store.store%>
  </div>
</form>
<hr>
<form action="/store/<%=@store.id%>" method="post">
  <div class = "input-group">

    <input type = "hidden" name = "_method" value = "delete">
    <button type = "submit" class ="btn btn-success">Permanently close <%=@store.store%></button>
  </div>
</form>
<hr>

<% if @store_brands.any? %>
  <p>Available Brands:</p>
  <ul>
    <% @store_brands.each do |brand| %>
      <li><%=brand.brand%> | $<%=sprintf('%.2f', brand.price)%></li>
    <%end%>
    </ul>
<% else %>
  <p> New brands coming to your Ekin <%=@store.store%> store, your "lesser-known" shoe outlet!</p>
<% end %>

<form action = "/store/<%=@store.id%>" method = "post">
  <div class = "input-group">

    <input type="hidden" name="_method" value="patch">
    <label for="brand_id">Add a brand: </label>
    <select name = "brand_id" class = "form-control">
      <% @brands.each do |brand| %>
      <option value = "<%=brand.id%>"><%=brand.brand%></option>
      <%end%>
    </select>

    <button type = "submit">Add brand for <%=@store.store%></button>
  </div>
</form>
